.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --orange: #FF847C;
  --yellow: #FECEA8;
  --black: #2A363B;
  --red: #E84A5F;

  margin: 0;
  padding: 0;

  font-family: "Lora", serif;
}

.main {
  color: var(--black);
}

header {
  width:100%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  height: 50px;
}

header h1 {
 color: var(--black);
 font-size: 2rem;
 font-weight: 400;
}

header .line{
  height: 1.5px;
  background: var(--black);
  width: 260px;
}

#myBtn {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: var(--orange);
  font-size: 1.5rem;
  transition:0.3s;
}

#myBtn:hover {
  color: var(--red);
  transition:0.3s;
}

ul {
  width: 220px;
  display: grid;
  grid-template-columns: auto;
  background-color: var(--yellow);
  padding: 10px;
}

ul li{
  border-radius: 3px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  border-radius: 3px;

  background-color: var(--yellow);
}

.modal-content input{
  border: none;
  outline: none;
  box-shadow: none;

  border-radius: 3px;
  padding: 8px;
  font-size: 1.5rem;
  color: var(--black);
}

/* CUSTOM CHECKMARK */
.modal-content .isRead {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal-content .isRead input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.modal-content .isRead .checkmark {
  position: absolute;
  top: 23px;
  right: 50px;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
}
.modal-content .isRead .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.modal-content .isRead input:checked ~ .checkmark:after {
  display: block;
}
.modal-content .isRead input:checked ~ .checkmark {
  background-color: var(--orange);
}
.modal-content .isRead .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.modal-content button {
  background: var(--orange);
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  border-radius: 3px;
  transition:0.3s;
  padding: 8px;
  font-size: 1.5rem;
}

.modal-content button:hover {
  background-color: var(--red);
  transition:0.3s;
}